.description {
  box-sizing: border-box;
  display: inline-block;
  font-size: 2rem;
  color: #666b68;
}

.description p {
  line-height: 4rem;
  letter-spacing: 0.5 rem;
  font-weight: 600;
  text-justify: auto;
}
