.description {
  box-sizing: border-box;
  display: inline-block;
  font-size: 2rem;
  color: #666b68;
}

.description p {
  line-height: 4rem;
  letter-spacing: 0.5 rem;
  font-weight: 600;
  text-justify: auto;
}

@media screen and (max-width: 480px) {
  .description p {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .description p {
    line-height: 4rem;
    font-size: 3rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
  .description p {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }
}
