.description {
  box-sizing: border-box;
  width: 100%;
  margin-top: 3rem;
  height: 50vh;
  padding: 0 2rem;
  font-size: 2rem;
  color: #0d5d60;
}

.description p {
  line-height: 4rem;
  letter-spacing: 0.5 rem;
  font-weight: 600;
}
