.education__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.edu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
}
.education__image {
  width: 15rem;
  margin: 1rem;
}

.education__items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 3rem;
}

.education__period,
.education__school,
.education__detail {
  font-size: 3rem;
  padding: 1rem;
  color: #9caeaf;
}

.education__school,
.education__detail {
  color: #666b68;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .education__image {
    width: 10rem;
    margin: 0;
  }
  .edu {
    margin: 1rem 0;
  }

  .education__items {
    margin: 0 1rem;
    width: 100%;
  }

  .education__period,
  .education__school,
  .education__detail {
    font-size: 2rem;
  }

  .education__container {
    height: 58vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .education__container {
    height: 60vh;
  }
}

@media screen and (max-width: 1024px) {
  .education__container {
    height: 100%;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 950px) and (orientation: landscape) {
  .education__container {
    height: 100%;
  }
  .education__image {
    width: 10rem;
    margin: 0;
  }
  .education__items {
    margin: 1.5rem 1rem;
    width: 100%;
  }

  .education__period,
  .education__school,
  .education__detail {
    font-size: 2rem;
  }
}
