.education__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 40vh;
  border: 1px solid royalblue;
}

.edu {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid royalblue;
}
.education__image {
  width: 10rem;
  margin: 1rem;
}

.education__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 3rem;
}

.education__period,
.education__school {
  font-size: 3rem;
  padding: 1rem;
  position: relative;
  bottom: 4rem;
  left: 6rem;
}
