.experience {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.experience__title {
  display: flex;
  align-items: center;
  color: #666b68;
  font-size: 2.5rem;
  font-weight: 700;
}

.experience_icon {
  width: 6rem;
  margin: 2rem;
}

.period_location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 6vh;
  color: #9caeaf;
  font-size: 2rem;
  position: relative;
  left: 11rem;
  bottom: 3rem;
}

.experience__jobtitle {
  margin: 0 1rem;
}

.experience__period,
.experience__location {
  flex-basis: 50%;
}

.experience__description {
  font-size: 2rem;
  display: flex;
  align-items: center;
  line-height: 4rem;
  width: 80%;
  margin: 0 0 1.5rem 10rem;
  color: #666b68;
}

@media screen and (max-width: 480px) {
  .experience {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  .experience__title {
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin: 0.2rem 0;
  }

  .experience_icon {
    width: 3rem;
    margin: 0 1rem 0.5rem 0;
  }
  .experience__jobtitle {
    padding-left: 2rem;
    margin: 0;
  }
  .experience__company {
    padding-left: 6rem;
  }

  .period_location {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .experience__description {
    font-size: 2rem;
    margin: 0.3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .period_location {
    font-size: 2rem;
    height: 4vh;
    align-items: center;
    left: 7rem;
    bottom: 0;
    width: 60%;
  }

  .experience__description {
    margin: 0 0 2rem 5.5rem;
    font-size: 2.5rem;
  }

  .experience_icon {
    width: 4rem;
    margin: 0 1rem 0.5rem 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .period_location {
    font-size: 3rem;
    align-items: flex-start;
    left: 10rem;
    bottom: 0;
    width: 80%;
  }

  .experience__description {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
  .period_location {
    font-size: 2rem;
    height: 10vh;
    align-items: center;
    left: 6rem;
    width: 80%;
  }

  .experience__description {
    margin: 1rem 0 2rem 5.5rem;
    font-size: 1.5rem;
    line-height: 2;
  }

  .experience_icon {
    width: 4rem;
    margin: 0 1rem 0.5rem 0;
  }
}
