.personal {
  font-size: 2rem;
  height: 46vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0.5rem 0.5rem 1rem 0.6rem #aab7b7;
}

.personal__item {
  box-sizing: border-box;
  padding: 3rem;
  width: 80%;
  height: 25vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.personal__item--cName {
  height: 9vh;
  font-size: 6rem;
  font-weight: 700;
  padding: 1.5rem;
  color: #12777b;
  display: flex;
  align-items: center;
}

.personal__item--eName {
  height: 9vh;
  font-size: 4rem;
  font-weight: 500;
  padding: 1.5rem;
  color: #12777b;
  display: flex;
  align-items: flex-end;
}

.personal__item--jobTitle {
  margin-left: 2rem;
  height: 3vh;
  width: 15%;
  background-color: #28b5bb;
  color: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

.contact {
  flex-basis: 60%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25rem;
  position: relative;
  bottom: 3.5rem;
}

.contact__email {
  flex-basis: 30%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #9caeaf;
}

.contact--iconGmail {
  width: 3rem;
  margin-right: 2rem;
}

.contact--iconPhone {
  width: 4rem;
  margin-right: 2rem;
}

.contact__phone {
  flex-basis: 30%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  color: #9caeaf;
}

.contact__github {
  flex-basis: 30%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__github--img {
  width: 5rem;
  margin-right: 2rem;
}

.social__github {
  text-decoration: none;
  font-size: 2rem;
  color: #9caeaf;
}
