.personal__container {
  font-size: 2rem;
  height: 46vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 1rem;
}

.personal__detail {
  flex: 1 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal__photo {
  max-height: 20rem;
  max-width: 20rem;
  flex: 1 0 15%;
  border-radius: 50%;
  margin-left: 1.5rem;
}
.personal__item {
  box-sizing: border-box;
  width: 80%;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.personal__item--cName {
  font-size: 6rem;
  font-weight: 700;
  color: #12777b;
}

.personal__item--eName {
  font-size: 4rem;
  font-weight: 500;
  padding: 0 4rem;
  color: #12777b;
}

.personal__item--jobTitle {
  width: 15rem;
  background-color: #28b5bb;
  color: #fff;
  border-radius: 1.5rem;
  padding: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.contact__email {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9caeaf;
}

.contact--iconGmail {
  width: 2rem;
  margin-right: 2rem;
}

.contact--iconPhone {
  width: 3rem;
  margin-right: 2rem;
}

.contact__phone {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: #9caeaf;
}

.contact__github {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9caeaf;
}
.social__github--img {
  width: 3rem;
  margin-right: 2rem;
}

.social__github {
  text-decoration: none;
  font-size: 2rem;
  color: #9caeaf;
}

@media screen and (max-width: 480px) {
  .personal__container {
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
  }
  .personal__photo {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 1rem;
  }

  .personal__detail {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0.6rem;
    width: 95%;
  }

  .personal__item {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
  }

  .personal__item--cName,
  .personal__item--eName {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
    padding: 0 1rem;
  }

  .personal__item--jobTitle {
    width: 50%;
    font-size: 2rem;
    padding: 0.4rem;
    text-align: center;
  }

  .contact {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 2rem 1rem;
  }

  .contact__phone {
    margin: 0;
    padding: 0;
    flex: 1 0 70%;
  }

  .contact__phone p {
    margin: 0.5rem 0;
    font-size: 1.7rem;
  }
  .contact__email {
    align-items: center;
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
  }

  .contact__github {
    width: 100%;
    font-size: 1.7rem;
  }

  .social__github--img,
  .contact--iconPhone {
    margin-right: 0.7rem;
  }

  .social__github {
    font-size: 1.7rem;
  }

  .contact--iconGmail {
    width: 3rem;
    margin-right: 1rem;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .personal__container {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: flex-start;
  }
  .personal__photo {
    max-height: 20rem;
    max-width: 20rem;
    margin: 1rem;
  }

  .personal__detail {
    flex: 1 0 40%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0.6rem;
    width: 95%;
  }

  .personal__item {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
  }

  .personal__item--cName,
  .personal__item--eName {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
    padding: 0 1rem;
  }

  .personal__item--jobTitle {
    font-size: 2rem;
    padding: 0.4rem;
    text-align: center;
  }

  .contact {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 2rem 0;
  }

  .contact__phone {
    margin: 1rem 0;
    padding: 0;
    flex-basis: 60%;
  }
  .contact__phone p {
    margin: 0.5rem 0;
  }

  .contact--iconGmail {
    width: 3rem;
    margin-right: 1.9rem;
  }

  .contact__email {
    align-items: center;
    flex-basis: 70%;
    margin: 0;
  }

  .contact__github {
    flex-basis: 30%;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .personal__container {
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-start;
  }
  .personal__photo {
    max-height: 20rem;
    max-width: 20rem;
    margin: 1rem;
  }

  .personal__detail {
    flex: 1 0 40%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0.6rem;
    width: 95%;
  }

  .personal__item {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
  }

  .personal__item--cName,
  .personal__item--eName {
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
    padding: 0 1rem;
  }

  .personal__item--jobTitle {
    font-size: 3rem;
    padding: 1rem;
    margin-left: 4rem;
    text-align: center;
  }

  .contact {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 2rem 0;
  }

  .contact__phone {
    margin: 1rem 0;
    padding: 0;
    flex-basis: 60%;
  }
  .contact__phone p {
    margin: 0.5rem 0;
    font-size: 3rem;
  }

  .contact--iconGmail {
    width: 3rem;
    margin-right: 1.9rem;
  }

  .contact__email {
    align-items: center;
    font-size: 3rem;
    flex-basis: 70%;
    margin: 0;
  }

  .social__github {
    font-size: 3rem;
  }
}
